.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.dark-mode {
  background-color: #222;
  color: #fff;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

p {
  font-size: 18px;
}
